.row-header{
    background-color: #262336;
    color: white;
    text-align: center;
    border-bottom: 2px solid red
    /*change text and border colors*/
}

.navigation ul{
    list-style-type: none;
    display: inline;

}
.navigation li{
    display: inline;
    padding: 20px;
}


.container-customer-support{
    background-color: #262336;
    color: white;
    text-align: center;
}
.container-customer-support p{
    color: #68647d

}

.container-customer-support button{
    background: linear-gradient(to bottom, #a59ec2 0%, #75708b 100%);
    border-radius: 5px;
    color: white;
}